<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balance.mapper.user.UserMapper">
    <resultMap id="userMap" type="User">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="password" column="password"></result>
        <result property="payPassword" column="pay_password"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="inviteId" column="invite_id"></result>
        <result property="inviteCode" column="invite_code"></result>
        <result property="createTime" column="create_time"></result>
        <result property="status" column="status"></result>
    </resultMap>

    <update id="updatePassword">
      UPDATE user_info SET ${updatePWDColumn} = #{newPassword} WHERE id = ${userId}
    </update>

    <select id="listUser4InviteRecord" resultMap="userMap">
      SELECT id,user_name,invite_id FROM user_info
    </select>


</mapper>