<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balance.mapper.user.UserFreeCountMapper">

    <update id="updateUserFreeCount">
        UPDATE user_free_count
        SET ${field} = #{field} +1
        WHERE user_id = #{userId}
        AND #{field} &lt; #{maxCount}
    </update>

    <update id="initMaxCount">
        UPDATE user_free_count
        <trim prefix="SET" suffixOverrides=",">
            <foreach collection="fields" item="field" separator=",">
                ${field} = 0
            </foreach>
        </trim>
    </update>
</mapper>