<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balance.mapper.user.UserAssetsMapper">

    <update id="updateUserAssets">
        UPDATE user_assets SET
            ${assetColumn} = ${assetColumn} + #{amount},
            version = version + 1
        WHERE user_id = #{userId}
          AND version = #{version}
    </update>

</mapper>