<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balance.mapper.user.UserMapper">
    <resultMap id="userMap" type="User">
        <id property="id" column="id"></id>
        <result property="headPictureUrl" column="head_picture_url"></result>
        <result property="userName" column="user_name"></result>
        <result property="phoneNumber" column="phone_number"></result>
        <result property="inviteId" column="invite_id"></result>
        <result property="inviteCode" column="invite_code"></result>
        <result property="wxOpenId" column="wx_open_id"></result>
        <result property="sex" column="sex"></result>
        <result property="location" column="location"></result>
        <result property="birthday" column="birthday"></result>
        <result property="computePower" column="compute_power"></result>
        <result property="ih" column="ih"></result>
        <result property="eth" column="eth"></result>
        <result property="ore" column="ore"></result>
        <result property="createTime" column="create_time"></result>
        <result property="memberType" column="member_type"></result>
        <result property="status" column="status"></result>
    </resultMap>

    <update id="updatePassword">
      UPDATE user_info SET ${updatePWDColumn} = #{newPassword} WHERE id = #{userId}
    </update>

    <select id="listUser4InviteRecord" resultMap="userMap">
      SELECT id,user_name,invite_id FROM user_info
    </select>

    <select id="getUserToUpdatePwd" resultMap="userMap">
      SELECT id FROM user_info WHERE ${updatePWDColumn} = #{oldPassword} AND phone_number = #{phoneNumber}
    </select>


    <select id="getUserInfo" resultMap="userMap">
        SELECT a.user_name,a.phone_number,a.invite_code,a.create_time,a.status,a.wx_open_id,a.sex,a.location,a.birthday,a.head_picture_url,a.member_type,
                b.compute_power,b.ih,b.eth,b.ore
         FROM user_info a
        LEFT JOIN user_assets b ON a.id = b.user_id
        WHERE a.id = #{userId}
    </select>


</mapper>