<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balance.mapper.user.UserVoucherMapper">
    <resultMap id="userVoucherRecordMap" type="UserVoucherRecord">
        <id property="id" column="id"></id>
        <result property="quantity" column="quantity"></result>
        <result property="createTime" column="create_time"></result>
        <result property="unableTime" column="unable_time"></result>
        <result property="voucherName" column="voucher_name"></result>
        <result property="voucherType" column="voucher_type"></result>
        <result property="description" column="description"></result>
        <result property="shopId" column="shop_id"></result>
        <result property="shopName" column="shop_name"></result>
        <result property="ifValid" column="if_valid"></result>
        <result property="status" column="status"></result>
    </resultMap>

    <sql id="findUserVoucher">
        SELECT
        a.id,a.quantity,a.create_time,a.unable_time,a.status,a.if_valid,b.voucher_name,b.voucher_type,b.description,c.id AS shop_id,c.shop_name
      FROM user_voucher_record a
        LEFT JOIN shop_voucher b ON a.voucher_id = b.id
        LEFT JOIN shop_info c ON b.shop_id = c.id
      WHERE a.user_id = #{userId} AND a.if_valid = #{ifValid}
    </sql>

    <select id="listUserVoucher" resultMap="userVoucherRecordMap">
        <include refid="findUserVoucher"/>
    </select>

    <select id="getUserVoucher" resultMap="userVoucherRecordMap">
        <include refid="findUserVoucher"/>
        AND b.id = #{voucherId}
    </select>

    <update id="decreaseQuantity">
        UPDATE
          user_voucher_record
        SET quantity = quantity - 1,version = version + 1
        WHERE
          quantity > 0 AND id = #{userVoucherRecordId} AND version = #{version}
    </update>

</mapper>