<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.balance.mapper.shop.OrderMapper">
    <resultMap id="OrderGoodsInfoMap" type="OrderGoodsInfo">
        <id property="orderId" column="order_id"></id>
        <result property="orderNo" column="order_no"></result>
        <result property="userName" column="user_name"></result>
        <result property="settlementId" column="settlement_id"></result>
        <result property="orderPrice" column="order_price"></result>
        <result property="orderFreight" column="order_freight"></result>
        <result property="status" column="order_status"></result>
        <result property="ifInvestigation" column="If_investigation"></result>
        <result property="ifScan" column="if_scan"></result>
        <result property="logisticNumber" column="logistic_number"></result>
        <result property="createTime" column="create_time"></result>
        <result property="addressId" column="address_id"></result>
        <collection property="orderItemList" ofType="OrderItem">
            <result property="goodsSpuId" column="spu_id"></result>
            <result property="goodsSkuId" column="sku_id"></result>
            <result property="settlementId" column="settlement_id"></result>
            <result property="number" column="number"></result>
            <result property="totalPrice" column="total_price"></result>
            <result property="spuName" column="spu_name"></result>
            <result property="spuName" column="spu_description"></result>
            <result property="imgUrl" column="default_img_url"></result>
            <result property="specJson" column="spec_json"></result>
            <result property="status" column="order_item_status"></result>
            <result property="packageUnit" column="package_unit"></result>
        </collection>
    </resultMap>
    

    <sql id="listOrderGoodsInfo">
        SELECT
            a.id as order_id,
            a.order_no,
            a.settlement_id,
            a.price as order_price,
            a.freight as order_freight,
            a.create_time,
            a.user_name,
            a.status as order_status,
            a.logistic_number,
            a.If_investigation,
            a.if_scan,
            a.address_id,
            b.number,
            b.total_price,
            b.status as order_item_status,
            c.id as spu_id,
            c.goods_name as spu_name,
            c.goods_description as spu_description,
            c.default_img_url,
            c.package_unit,
            d.id as sku_id,
            d.spec_json
        FROM
            order_info a
            LEFT JOIN order_item b on a.id = b.order_id
            LEFT JOIN goods_spu c on b.goods_spu_id = c.id
            LEFT JOIN goods_sku d on b.goods_sku_id = d.id
    </sql>

    <select id="listUserOrderGoodsByStatus" resultMap="OrderGoodsInfoMap">
        <include refid="listOrderGoodsInfo"/>
        WHERE
          a.user_id = #{userId}
          AND a.status = #{orderStatus}
    </select>

    <select id="getUserOrderGoodsInfo" resultMap="OrderGoodsInfoMap">
        <include refid="listOrderGoodsInfo"/>
        WHERE
          a.id = #{orderId}
    </select>

    <select id="listAdminOrderGoodsInfo" resultMap="OrderGoodsInfoMap">
        <include refid="listOrderGoodsInfo"/>
        WHERE 1=1
        <if test="orderNo!=null">
            AND a.order_no LIKE CONCAT('%',#{orderNo},'%')
        </if>
        <if test="userName!=null">
            AND a.user_name = #{userName}
        </if>
        <if test="settlementId!=null">
            AND a.settlement_id = #{settlementId}
        </if>
        <if test="logisticNumber!=null">
            AND a.logistic_number = #{logisticNumber}
        </if>
        <if test="startTime!=null">
            AND a.create_time &gt;= #{startTime}
        </if>
        <if test="endTime!=null">
            AND a.create_time &lt;= #{endTime}
        </if>
        <if test="status!=null">
            AND order_status = #{status}
        </if>
    </select>

    <select id="listUserBeautyGoodsInfo" resultMap="OrderGoodsInfoMap">
        <include refid="listOrderGoodsInfo"/>
        WHERE
        a.user_id = #{userId}
        AND a.if_scan = #{ifScan}
    </select>


    <select id="listUserOrderGoodsByOrderIds" resultMap="OrderGoodsInfoMap">
        <include refid="listOrderGoodsInfo"/>
        WHERE
        a.user_id = #{userId}
        AND a.id IN
        <foreach collection="orderIds" item="orderId" open="(" close=")" separator=",">
            #{orderId}
        </foreach>
    </select>
</mapper>